In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv('resale-flat-price-2017-2021.csv')
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
111004,2021-10,YISHUN,EXECUTIVE,736,YISHUN ST 72,07 TO 09,162.0,Adjoined flat,1984,62 years 01 month,908000.0
111005,2021-10,YISHUN,EXECUTIVE,834,YISHUN ST 81,04 TO 06,154.0,Maisonette,1988,65 years 04 months,756000.0
111006,2021-10,YISHUN,EXECUTIVE,828,YISHUN ST 81,01 TO 03,145.0,Apartment,1988,65 years 04 months,715000.0
111007,2021-10,YISHUN,EXECUTIVE,826,YISHUN ST 81,07 TO 09,145.0,Apartment,1988,65 years 04 months,750000.0
111008,2021-10,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,01 TO 03,164.0,Multi Generation,1987,65 years 01 month,760000.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111009 entries, 0 to 111008
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                111009 non-null  object
 1   town                 111009 non-null  object
 2   flat_type            111009 non-null  object
 3   block                111009 non-null  object
 4   street_name          111009 non-null  object
 5   storey_range         111009 non-null  object
 6   floor_area_sqm       111009 non-null  float64
 7   flat_model           111009 non-null  object
 8   lease_commence_date  111009 non-null  int64
 9   remaining_lease      111009 non-null  object
 10  resale_price         111009 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 9.3+ MB

As `df.info()` shows, there are no missing values, thus making data preparation slightly easier. Before analyzing the data further, split them into test and training data.

As prices are likely to be different depending on the location, to ensure enough samples for each town are represented in the train/test datasets, `train_test_split` is given the `stratify` parameter. Such spliting is known as stratification.

In [3]:
from sklearn.model_selection import train_test_split

def split_train_test(df):
    train, test = train_test_split(df, test_size=0.2, stratify=df[['town']])
    return (train.drop('resale_price', axis=1), train['resale_price'],
            test.drop('resale_price', axis=1), test['resale_price'])

trainX, trainy, testX, testy = split_train_test(df)

Continuing data analysis with the training data:

In [4]:
import re

pattern = re.compile(r'^(\d+)\D+(\d+)?')

def convert_remaining_lease_to_years(s):
    m = pattern.match(s)
    years = int(m[1], base=10)
    
    if m.lastindex == 1:
        return years
    else:
        return round(years + float(m[2]) / 12, 1)


trainX.remaining_lease = df.remaining_lease.apply(convert_remaining_lease_to_years)
trainX

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease
107026,2021-09,BUKIT MERAH,3 ROOM,22,HAVELOCK RD,04 TO 06,64.0,Standard,1969,46.9
60926,2019-11,CHOA CHU KANG,2 ROOM,166A,TECK WHYE CRES,04 TO 06,47.0,Model A,2015,94.2
11669,2017-08,BEDOK,4 ROOM,411,BEDOK NTH AVE 2,07 TO 09,92.0,New Generation,1980,61.7
44909,2019-02,YISHUN,5 ROOM,770,YISHUN AVE 3,07 TO 09,122.0,Improved,1986,66.6
59957,2019-10,TAMPINES,4 ROOM,809,TAMPINES AVE 4,04 TO 06,104.0,Model A,1984,63.4
...,...,...,...,...,...,...,...,...,...,...
21338,2018-01,TAMPINES,4 ROOM,353,TAMPINES ST 33,01 TO 03,107.0,Model A,1996,77.6
14085,2017-09,HOUGANG,EXECUTIVE,698C,HOUGANG ST 52,13 TO 15,141.0,Apartment,1999,80.4
92561,2021-03,BUKIT BATOK,5 ROOM,325,BT BATOK ST 33,10 TO 12,122.0,Improved,1986,64.7
90672,2021-02,CHOA CHU KANG,5 ROOM,548,CHOA CHU KANG ST 52,01 TO 03,121.0,Improved,1995,73.3
46910,2019-04,BUKIT MERAH,3 ROOM,136,JLN BT MERAH,04 TO 06,59.0,Improved,1975,55.2